{{ define "content" }}
<div class="container mt-5" style="max-width: 600px;">
  <h2 class="mb-4 text-center">新しい ToDo を作成</h2>

  <form role="form" action="/todos/save" method="post">
    <div class="form-group">
      <label for="content">内容</label>
      <textarea
        class="form-control"
        name="content"
        id="content"
        placeholder="ToDoを追加"
        rows="4"
        required
      ></textarea>
    </div>
    <div class="text-right">
      <button class="btn btn-success mt-2">作成する</button>
    </div>
  </form>
</div>
{{ end }}
